.cart{
    padding: 15vh 7rem 0 7rem;
}

.cart h1{
    font-size: 2.5rem;
    color: #373737;
    padding-bottom: 1rem;
    font-weight: 400;
}

.delivery-time{
    padding-bottom: 1rem;
}

.contact{
    width: 100%;   
    background-color: #f5f5f5;
    padding: 3rem 7rem;
    display: flex;
    justify-content: space-between;
    margin-top: 15vh;

}

.need-help{
    width: 100%;
}

.call-us, .email-us, .faqs{
    width: 60%;
}

.need-help h3{
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.need-help p{
    font-size: 1rem;
    color: #373737;
    padding-bottom: 1rem;
    width: 80%;
}

.title-flex{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.call-us p, .email-us p, .faqs p{
    font-size: 1rem;
    color: #373737;
    padding-bottom: 1rem;
}

.cart-container{
    width: 100%;
}

.cart-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-item{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.cart-item-img{
    width: 100%;
    object-fit: cover;
}

.cart-item-img img{
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.cart-item-details{
    width: 100%;
}

.cart-item-details h3{
    font-size: 1.3rem;
    padding-bottom: .5rem;
}

.cart-item-details p{
    font-size: .9rem;
    color: #373737;
    padding-bottom: .5rem;
}

.right{
    width: 30%;
}

.subtotal, .shipping, .total{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtotal p, .shipping p, .total p{
    font-size: 1rem;
    color: #373737;
}

.subtotal, .shipping{
    padding-bottom: 1rem;
}

.total{
    padding-top: 1rem;
}