.cart{
    padding: 15vh 7rem 0 7rem;
}

.cart h1{
    font-size: 2.5rem;
    color: #373737;
    padding-bottom: 1rem;
    font-weight: 400;
}

.delivery-time{
    padding-bottom: 1rem;
}

.contact{
    width: 100%;   
    background-color: #f5f5f5;
    padding: 3rem 7rem;
    display: flex;
    justify-content: space-between;
    margin-top: 15vh;

}

.need-help{
    width: 100%;
}

.call-us, .email-us, .faqs{
    width: 60%;
}

.need-help h3{
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.need-help p{
    font-size: 1rem;
    color: #373737;
    padding-bottom: 1rem;
    width: 80%;
}

.title-flex{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.call-us p, .email-us p, .faqs p{
    font-size: 1rem;
    color: #373737;
    padding-bottom: 1rem;
}

.cart-container{
    width: 100%;
   margin-top: 3rem;
}

.cart-flex{
    display: flex;
    position: relative;
}

.left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-item{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;

}

.cart-item-img{
    width: 22%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:300px;
}

.cart-item-img img{
    width: 60%;
    height: 100%;
    object-fit: contain;
}

.cart-item-details{
    width: 350px;
    text-align: center;
    
}

.cart-item-details h3{
    font-size: 1.3rem;
    padding-bottom: .5rem;
}

.cart-item-details p{
    font-size: .9rem;
    color: #373737;
    padding-bottom: .5rem;
}

.quantity{
    width: 107px;
    text-align: center;
    padding: 0 1rem;
}

.quantity input{
    width: 50px;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid #808080;
    margin: 1rem 0;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.price{
    width: 120px;
    text-align: center;
}

.price h3{
    font-weight: 600;
    padding-bottom: .5rem;
}

.right{
    width: 40%;
    display: flex;
    gap: 150px;
    padding: 1rem 4rem;
    border-left: 1px solid #868686;
}

.subtotal, .shipping, .total{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.subtotal h3, .shipping h3, .total h3{
    font-size: 1rem;
    color: #373737;
}
.subtotal p, .shipping p, .total p{
    font-size: 1rem;
    color: #373737;
}

.subtotal, .shipping{
    padding-bottom: 2.5rem;
}

.total-amount-container{
    width: 100%;
    padding-top: 8rem;
    
}

.totalAmount{
   padding-top: 2rem;
    text-align: right;
    display: inline-block;
    width: 100%;
}

.totalAmount p{
    font-weight: 600;
}

.removeItem{
    right: 0;
    top: 2px;
    padding: .5rem;
    cursor: pointer;
    transition: .3s ease-in-out;  
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.removeItem:hover{
    background-color: #ff797992;
    border-radius: 10px;
}

.confirm-order-btn-2{
    margin-top: 4rem;
}


.footer-cart{
    margin-top: 40px;
}

.link_1 {
    display: inline-block; /* Or block */
    width: fit-content; /* Ensures it wraps around the button */
    height: fit-content;
  }
  

.link_1{
    background-color: rgb(3, 235, 173);
}