.checkout{
    width: 100%;
    position: relative;
}

.load-animate{
    width: 0%;
    height: 5px;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s ease-in-out;
    z-index: 1000;
}

.checkout-header{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    position: fixed;
    background-color: #ffffff;
    z-index: 50;
}

.checkout-header .secure,.checkout-header .checkout-logo, .checkout-header .help{
    flex-shrink: 0;
    padding: 1rem;
}

.secure{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkout-logo{
    text-align: center;

}

.checkout-logo {
    font-size: 2rem;
    height: 100%;
    text-align: center;
}

.checkout-logo a{
    text-decoration: none;
}

.logo_black{
    color: #353535;
    font-weight: 500;
    
}

.logo_red{
    color: #c50000;
    font-weight: 500;
}

.help{
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    gap: .6rem;
    padding: 2rem 0;
}

.help p{
    width: 200px;
}

.phone{
    display: flex;
    align-items: center;
}

.phone p{
    width: 130px;
}

/* .help{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgb(225, 0, 255);
    justify-content: flex-end;
    
}

.help p{
    text-align: right;
    background-color: rgb(74, 74, 235);
    width: 30%;
}

.help .phone{
    display: flex;
    text-align: right;
    background-color: green;
    gap: 1rem;
    padding: 0;
    justify-content: flex-end;
    
}

.phone p{
    text-align: right;
    background-color: rgb(255, 0, 64);
} */


/* Checkout Flex Section */
.checkout-flex{
    display: flex;
    width: 100%;
    gap: 2rem;
    padding: 2rem 20rem;
    padding-top: 20vh;
    background-color: #ffffff;
}



input{
    width: 100%;
    height: 2.5rem;
    border: 2px solid #d5d5d5;
    border-radius: 5px;
    padding: 1.3rem 1rem;
    outline: none;
    font-size: .9rem;
    font-weight: 500;
    margin-top: .5rem;
    background-color: #ffffff;
}

input:focus{
    border: 2px solid #000000
}


.first-name, .last-name{
    width: 100%;
}

.first-name, .last-name, .address, .city, .zip, .state, .mobile, .card-name, .card-number, .card-expiration, .card-cvv{
    position: relative;
}

.card-name{
    width: 425px;
    margin-top: 1rem;
}

.card-number{
    width: 250px;
}

.card-expiration{
    width: 150px;
}

.card-number input, .card-expiration input, .card-name input, .card-cvv input{
    font-size: 17px;
}



.check{
    right: 10px;
    top: 2.5rem;
    cursor: pointer;
    position: absolute;
}

label{
    font-size: .8rem;
    font-weight: 500;
    color: #353535;
    margin-right: 0.5rem;
}

.checkout-left{
    width: 80%;
    position: relative;
}

.cancel{
    position: absolute;
    right: 0;
    top: 65px;
    cursor: pointer;
}

.checkout-left h2{
    font-weight: 400;
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.checkout-left p{
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.checkout-left span{
    font-size: 1rem;
    padding-bottom: 1rem;
    color: #ff0000;
}

.names{
    padding: 1.5rem 0;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.names label{
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.names input{
    margin-top: .5rem;
}

.region{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem
}

.region label{
    font-size: 1rem;
    font-weight: 500;
    color: #353535;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.region select{
    width: 40%;
    height: 2.5rem;
    padding: 0 1rem;
    border: 1px solid #808080;
    border-radius: 5px;
}

.address{
    padding-bottom: 1rem;
    width: 100%;
}

.address input{
    
}

.city{
    padding-bottom: 1rem;
    width: 50%;
}

.state-wrapper{
    display: flex;
    width: 100%;
    
    gap: 1rem;
}

.state{
    width: 100%;
    /* max-width: 400px; */
}

.zip{
    width: 100%;
    /* max-width: 400px; */
}

.mobile{
    padding-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    max-width: 400px;
}


.billing-address-check, .paypal-check{
    width: 100%;
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
    align-items: center;
}

.billing-address-check input, .paypal-check input{
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}

.billing-address-check label, .paypal-check label{
    font-size: 1.1rem;
    font-weight: 500;
    color: #353535;
    margin-right: 0.5rem;
    padding-bottom: 0rem;
    margin-top: .5rem;
}


/*********************************** CHECKOUT RIGHT SECTION */

.checkout-right{
    width: 50%;
    border-radius: 5px;
    padding: 1rem;
    max-width: 500px;
}

.checkout-right-header-wrapper{
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
}

.checkout-right-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.checkout-right-header h2{
    font-weight: 600;
    font-size: 1.2rem;
    font-weight: 600;
}

.checkout-right-header .total{
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

.place-order{
    width: 100%;
    padding-bottom: 1rem
}

.place-order button{
    width: 100%;
    height: 3rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    color: #b6b6b6;
    font-size: 1.1rem;
    font-weight: 600;
}

/* Button Active place-order */
.place-order-active button{
    width: 100%;
    height: 3rem;
    background-color: #c30000;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease-in-out;
}

/* Button Active Hover */
.place-order-active button:hover{
    background-color: #880202;
    transition: .3s ease-in-out;
}

.checkout-right p{
    font-size: .8rem;
    color: #353535;
    padding-bottom: 1rem;
}

.summary-title{
    font-size: 1.6rem;
    font-weight: 400;
    color: #353535;
    padding-bottom: 1rem;
    margin-top: 1.5rem
}

.checkout-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    
}

.sticky{
    position: sticky;
    top: 13.9vh;
    z-index: 100;
}

.checkout-item-image{
    width: 30%;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 5px;
    max-width: 200px;
}

.checkout-item-image img{
    width: 100%;
    object-fit: contain;
}

.checkout-item-info{
    width: 100%;
    text-align: right;
}

.checkout-item-info p{
    font-size: .8rem;
    color: #000000;
    font-weight: 500;
    padding-bottom: 1rem;
}

.delivery-fee{
    display: flex;
    justify-content: space-between;
}
.delivery-fee p{
    font-size: .8rem;
    color: #000000;
    font-weight: 500;
    padding-bottom: 1rem;
}

/* PROMO SECTION */

.promo{
    margin-top: 2rem;
}

.promo button{
    width: 30%;
    height: 3rem;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #b6b6b6;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1rem;
    cursor: pointer;
}

.promo button:hover{
    background-color: #353535;
}

.line{
    margin-bottom: 1rem;
}


/* PAYMENT */
.payment{
    width: 100%;
    margin-top: 2rem;
}

.payment-methods{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 20px;
   

    
}

.payment-option{
    width: 250px;
    border: 1px solid #d5d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;   
}

.payment-option:hover{
    outline: 1px solid #000000;
}

.pay-logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pay-logo img{
    width: 70%;
    object-fit: contain;
}

.card img{
    width: 30%;
}

.coin img{
    width: 20%;
}

.active{
    outline: 1px solid #000000;
}

.display-content{
    display: block !important;
}


/* PAYPAL PAYMENT CONTENT */
.paypal-content{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    display: none;
}

.paypal-content p{
    margin-top: 1rem;
}

.paypal-content .confirm-method-txt{
    font-size: .9rem;
    font-weight: 600;
}

/**************************** USER CARD DETAILS */

.card-content{
    width: 100%;
    padding-top: 2rem;
    display: none;
}

.card-number-wrapper{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 25px;
}

.card-cvv{
    margin-top: 1rem;
    width: 100%;
    max-width: 100px;
}

.card-cvv label{
    display: block;
}

.card-cvv input{
    width: 100%;
}

/*********************************************** CRYPTO CURRENCY */

.crypto-content{
    width: 100%;
    padding-top: 2rem;
    display: none;
}

.crypto-content p{
    font-size: 15px;
    letter-spacing: .03rem;
    line-height: 1.4rem;
}

/******************************************************* ADDRESS TAB */

.address-tab{
    width: 100%;
    position: relative;
}

.address-tab p{
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 15px;
}

.edit{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #000;
    display: flex;
    gap: .5rem;
}

.edit span{
    color: #000;
}


/******************************************* PAYPAL CONFIRM */

.payment-confirm{
    width: 100%;
    padding-top: 1rem;
    background-color: #ffffff;
    transition: .8s ease-in-out;
}

.crypto-confirm, .paypal-confirm, .card-confirm{
    position: relative;
    width: 100%;
}

.paypal-confirm img{
    width: 15%;
    margin-left: -8px;
}

.card-confirm img, .crypto-confirm img{
    width: 5%;
    margin-left: 0;
    
}

.paypal-confirm p, .card-confirm p, .crypto-confirm p{
    font-size: 15px;
    letter-spacing: .03rem;
    line-height: 1.4rem;
}

input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
    -webkit-appearance: none; /* For Chrome, Safari, Edge */
    appearance: none;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Removes any margin */
  }
  
/* 
  SAVED ADDRESS */

  .saved-address-wrapper{
    width: 100%;
    padding-top: 20px;
  }

  .address_btn{
    padding-bottom: 20px;
  }

  .address_btn button{
    padding: 15px 40px;
    border: 1px solid black;
    background-color: #000000;
    color: #acacac;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-weight: 600;
    font-size: 17px;
    position: relative;
}

.loader_2{
    position: absolute;
    left: 225px;
    top: 15px;
    z-index: 1;
}

/* HTML: <div class="loader"></div> */
.loader_2 {
    width: 20px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
      linear-gradient(0deg ,#fdfdfd 30%,#222222b4 0 70%,#ffffff 0) 50%/8% 100%,
      linear-gradient(90deg,#ffffff 30%,#202020f3 0 70%,#0000005e 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
  }
  .loader_2::before,
  .loader_2::after {
     content: "";   
     grid-area: 1/1;
     border-radius: 50%;
     background: inherit;
     opacity: 0.915;
     transform: rotate(30deg);
  }
  .loader_2::after {
     opacity: 0.83;
     transform: rotate(60deg);
  }
  @keyframes l23 {
    100% {transform: rotate(1turn)}
  }



/* SAVED ADDRESS */

.saved-address-wrapper{
    padding: 50px;
}

.saved-address{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
    max-width: calc(650px * 2 + 20px * 1); /* Adjusted for 2 columns */
    margin: 0 auto;
    width: 100%;
    padding: 3rem 2rem;
}

.saved-address-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;

}

.saved-address-header h1{
   font-weight: 400;
}

.saved-address-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.saved-address-item{
    background-color: rgb(41, 41, 41);
    padding: 2rem;
    border: 1px solid #000;
    border-radius: 10px;
}

.saved-address-item h2{
    font-size: 20px;
    letter-spacing: .03rem;
    line-height: 1.4rem;
    color: #fff;
    padding-bottom: 1rem;
}

.saved-address-item p{
    font-size: 16px;
    letter-spacing: .03rem;
    line-height: 1.4rem;
    color: #fff;
    padding-top: 5px;
}

.saved-address-item span{
    font-weight: 600;
    color: #fff;
    font-size: 17px
}

.saved-address-item-header p{
    color: #ff0000;
    cursor: pointer;
    transition: .3s ease-in-out;
    color: #ff0000;
    
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

.saved-address-item-header p:hover{
    color: #ff4800;
    text-shadow: 0 0 20px rgba(255, 38, 0, 0.89), 
                 0 0 40px rgba(224, 50, 20, 0.733), 
                 0 0 80px rgb(255, 52, 1),
                 0 10px 80px rgb(255, 52, 1);
    
    transition: text-shadow 0.3s ease, color 0.3s ease;
}