.checkout{
    width: 100%;
}

.checkout-header{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}

.checkout-header .secure,.checkout-header .checkout-logo, .checkout-header .help{
    flex-shrink: 0;
    padding: 1rem;
}

.secure{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkout-logo{
    text-align: center;

}

.checkout-logo {
    font-size: 2rem;
    height: 100%;
    text-align: center;
}

.checkout-logo a{
    text-decoration: none;
}

.logo_black{
    color: #353535;
    font-weight: 500;
    
}

.logo_red{
    color: #c50000;
    font-weight: 500;
}

.help{
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    gap: .6rem;
    padding: 2rem 0;
}

.help p{
    width: 200px;
}

.phone{
    display: flex;
    align-items: center;
}

.phone p{
    width: 130px;
}

/* .help{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgb(225, 0, 255);
    justify-content: flex-end;
    
}

.help p{
    text-align: right;
    background-color: rgb(74, 74, 235);
    width: 30%;
}

.help .phone{
    display: flex;
    text-align: right;
    background-color: green;
    gap: 1rem;
    padding: 0;
    justify-content: flex-end;
    
}

.phone p{
    text-align: right;
    background-color: rgb(255, 0, 64);
} */


/* Checkout Flex Section */
.checkout-flex{
    display: flex;
    width: 100%;
    gap: 2rem;
    padding: 2rem 20rem;
}



input{
    width: 100%;
    height: 2.5rem;
    border: 2px solid #d5d5d5;
    border-radius: 5px;
    padding: 1.3rem 1rem;
    outline: none;
    font-size: .9rem;
    font-weight: 500;
    margin-top: .5rem;
    background-color: #ffffff;
}

input:focus{
    border: 2px solid #000000
}


.first-name, .last-name{
    width: 100%;
}

.first-name, .last-name, .address, .city, .zip, .state, .mobile, .card-name, .card-number, .card-expiration, .card-cvv{
    position: relative;
}

.check{
    right: 10px;
    top: 2.5rem;
    cursor: pointer;
    position: absolute;
}

label{
    font-size: .8rem;
    font-weight: 500;
    color: #353535;
    margin-right: 0.5rem;
}

.checkout-left{
    width: 80%;
    position: relative;
}

.cancel{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.checkout-left h2{
    font-weight: 400;
    font-size: 1.8rem;
    padding-bottom: 1rem;
}

.checkout-left p{
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.checkout-left span{
    font-size: 1rem;
    padding-bottom: 1rem;
    color: #ff0000;
}

.names{
    padding: 1.5rem 0;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.names label{
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.names input{
    margin-top: .5rem;
}

.region{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem
}

.region label{
    font-size: 1rem;
    font-weight: 500;
    color: #353535;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.region select{
    width: 40%;
    height: 2.5rem;
    padding: 0 1rem;
    border: 1px solid #808080;
    border-radius: 5px;
}

.address{
    padding-bottom: 1rem;
    width: 100%;
}

.address input{
    
}

.city{
    padding-bottom: 1rem;
    width: 50%;
}

.state-wrapper{
    display: flex;
    width: 100%;
    
    gap: 1rem;
}

.state{
    width: 100%;
    /* max-width: 400px; */
}

.zip{
    width: 100%;
    /* max-width: 400px; */
}

.mobile{
    padding-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    max-width: 400px;
}


.billing-address-check, .paypal-check{
    width: 100%;
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
    align-items: center;
}

.billing-address-check input, .paypal-check input{
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}

.billing-address-check label, .paypal-check label{
    font-size: 1.1rem;
    font-weight: 500;
    color: #353535;
    margin-right: 0.5rem;
    padding-bottom: 0rem;
    margin-top: .5rem;
}


/* CHECKOUT RIGHT SECTION */

.checkout-right{
    width: 50%;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    padding: 1rem;
}

.checkout-right-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.checkout-right-header h2{
    font-weight: 600;
    font-size: 1.2rem;
    font-weight: 600;
}

.checkout-right-header .total{
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

.place-order{
    width: 100%;
    padding-bottom: 1rem
}

.place-order button{
    width: 100%;
    height: 3rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    color: #b6b6b6;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

/* Button Active */
.place-order .active{
    width: 100%;
    height: 3rem;
    background-color: #c30000;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

/* Button Active Hover */
.place-order .active button:hover{
    background-color: #880202;
}

.checkout-right p{
    font-size: .8rem;
    color: #353535;
    padding-bottom: 1rem;
}

.summary-title{
    font-size: 1.6rem;
    font-weight: 400;
    color: #353535;
    padding-bottom: 1rem;
    margin-top: 1.5rem
}

.checkout-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.checkout-item-image{
    width: 30%;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 5px;
}

.checkout-item-image img{
    width: 100%;
    object-fit: contain;
}

.checkout-item-info{
    width: 100%;
    text-align: right;
}

.checkout-item-info p{
    font-size: .8rem;
    color: #000000;
    font-weight: 500;
    padding-bottom: 1rem;
}

.delivery-fee{
    display: flex;
    justify-content: space-between;
}
.delivery-fee p{
    font-size: .8rem;
    color: #000000;
    font-weight: 500;
    padding-bottom: 1rem;
}

/* PROMO SECTION */

.promo{
    margin-top: 2rem;
}

.promo button{
    width: 30%;
    height: 3rem;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #b6b6b6;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1rem;
    cursor: pointer;
}

.promo button:hover{
    background-color: #353535;
}

.line{
    margin-bottom: 1rem;
}


/* PAYMENT */
.payment{
    width: 100%;
    margin-top: 2rem;
}

.payment-methods{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 20px;
   

    
}

.payment-option{
    width: 250px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;   
}

.payment-option:hover{
    outline: 1px solid #000000;
}

.pay-logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pay-logo img{
    width: 70%;
    object-fit: contain;
}

.card img{
    width: 30%;
}

.coin img{
    width: 20%;
}

.active{
    outline: 1px solid #000000;
}

.display-content{
    display: block !important;
}


/* PAYPAL PAYMENT CONTENT */
.paypal-content{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    display: none;
}

.paypal-content p{
    margin-top: 1rem;
}

.paypal-content .confirm-method-txt{
    font-size: .9rem;
    font-weight: 600;
}

/**************************** USER CARD DETAILS */

.card-content{
    width: 100%;
    padding-top: 2rem;
    display: none;
}

.card-number-wrapper{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 25px;
}

.card-cvv{
    margin-top: 1rem;
    width: 100%;
    max-width: 100px;
}

.card-cvv label{
    display: block;
}

.card-cvv input{
    width: 100%;
}

/*********************************************** CRYPTO CURRENCY */

.crypto-content{
    width: 100%;
    padding-top: 2rem;
    display: none;
}

.crypto-content p{
    font-size: 15px;
    letter-spacing: .03rem;
    line-height: 1.4rem;
}