.confirm-order{
    background-color: red;
    margin-top: 0rem;
    width: 240px;
}

.confirm-order button{
    width: 100%;
    padding: .8rem 3rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: background-color.3s ease-in-out, color.3s ease-in-out;
}

.confirm-order button:hover{
    background-color: #e5e5e5;
    color: #000000;
}

