.or-wrapper{
    padding: 15vh 23rem 0 23rem;
    transition: .8s ease-in-out;
    width: 100%;
    max-width: 2000px;
}

.or-header{
    width: 100%;
}

.or-header h1{
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    padding-bottom: 1rem;
}

.or-tabs{
    width: 100%;
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.orders h2, .returns h2{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
    padding-bottom: 0.3rem;
    cursor: pointer;
    color: #969696;
}

.activee h2{
    color: #000000;
    border-bottom: 3px solid #000000;
}

.no-orders-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
}

.no-orders{
    margin-top: 2rem;
    text-align: center;
}

.no-orders i{
    font-size: 4rem;
    padding-bottom: 1rem;;
}

.no-orders h2{
    font-size: 20px;
    line-height: 2.5rem;
}

.no-orders p{
    font-size: 16px;
    line-height: 2rem;
}

/* SHOP NOW BUTTON */
.shop-now button, .view-orders-btn button{
    font-size: 1rem !important;
    font-weight: 600;
    padding: 1rem 2rem !important;
    border: none;
    background-color: #000000 !important;
    color: #ffffff;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-top: 2rem;
    border-radius: 10px;
}

.shop-now button:hover, .view-orders-btn button:hover{
    background-color: #ffffff !important;
    color: #000000;
    border: 1px solid #000000;
}


/* ORDER-TICKET */
.order-ticket{
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 1rem 2rem;
}

.ticket-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-date{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.ticket-details{
    display: flex;
    gap: 0.5rem;
    padding-top: 2rem;
    width: 100%;
}

.ticket-item-details{
    display: flex;
    align-items: center;
    gap: 4.5rem;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1rem;
}

.ticket-item-info{
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    width: 50%;
    padding: 1.3rem 0 1.3rem 3rem;
}

.ticket-img{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #e7e7e78a;
    padding-top: .5rem;
}

.ticket-img img{
    width: 100%;
}