.or-wrapper{
    padding: 15vh 23rem 0 23rem;
    transition: .8s ease-in-out;
}

.or-header{
    width: 100%;
}

.or-header h1{
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    padding-bottom: 1rem;
}

.or-tabs{
    width: 100%;
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.orders h2, .returns h2{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
    padding-bottom: 0.3rem;
    cursor: pointer;
    color: #969696;
}

.activee h2{
    color: #000000;
    border-bottom: 3px solid #000000;
}

.no-orders-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
}

.no-orders{
    margin-top: 2rem;
    text-align: center;
}

.no-orders i{
    font-size: 4rem;
    padding-bottom: 1rem;;
}

.no-orders h2{
    font-size: 20px;
    line-height: 2.5rem;
}

.no-orders p{
    font-size: 16px;
    line-height: 2rem;
}

/* SHOP NOW BUTTON */
.shop-now button, .view-orders-btn button{
    font-size: 1rem !important;
    font-weight: 600;
    padding: 1rem 2rem !important;
    border: none;
    background-color: #000000 !important;
    color: #ffffff;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-top: 2rem;
}

.shop-now button:hover, .view-orders-btn button:hover{
    background-color: #ffffff !important;
    color: #000000;
    border: 1px solid #000000;
}