.product-page{
    width: 100%;
    padding: 15vh 7rem 0 7rem;
}

.product-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.row h2{
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 0 1rem;
    cursor: pointer;
    width: 8%
}


/* NEW ENTRY BANNER */
.newEntry{
    width: 100%;
    padding-top: 2rem;
 }
 
 .newEntry_header{
     width: 100%;
 }
 
 .newEntry_header h2{
     font-size: 2rem;
     font-weight: 400;
     text-align: center;
     padding-bottom: 1rem;
 }
 
 .newEntry_header p{
     width: 100%;
     text-align: center;
     font-size: .9rem;
     color: #373737;
 }
 
 .newEntry_image_container{
     width: 100%;
     height: 80vh;
     background-image: url(../assets/images/Air3s.jpg) !important;
     background-repeat: no-repeat;
     background-size: cover;
     margin-top: 2rem;
 }
 
 .newEntry_image_container h3{
     text-align: center;
     font-size: .8rem;
     color: #a7a7a7;
     padding-top: 2rem;
 }
 
 .newEntry_image_container h2{
     text-align: center;
     font-size: 3rem;
     font-weight: 600;
     color: #fff;
     padding-top: 0rem;
 }
 
 .newEntry_image_container h2 span{
     font-weight: 400;
     font-size: 2.3rem;
 }
 
 
 .newEntry_image_container p{
     text-align: center;
     color: #fff;
     margin-top: .5rem;
     font-size: 1.2rem;
     font-weight: 400;
 }
 
 .newEntry_image_container a{
     text-align: center;
     color: #fff;
 }
 
 
 .newEntry_image_container a p{
     margin-top: 2rem;
     font-size: 1.2rem;
 }
 