.shop-page{
    padding-top: 8vh;
    width: 100%;
    position: relative;
}

.arrow-top{
    position: fixed;
    background-color: #ffffff51;
    right: 20px;
    top: 80vh;
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #8f8f8f;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  0.5s ease-in-out;   
    
}

.arrow-top i{
    color: #000000;
    font-size: 1.5rem;
    
}

.arrow-top:hover{
    cursor: pointer;
    transform: scale(1.5);}


.shop_top{
    padding: 7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.shop_top h1{
    color: #f5f5f5;
    font-size: 5rem;
    font-weight: 400;
}


.shop_links{
    background-color: blue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.shop_links a{
    font-size: 1.3rem;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
    color: #f5f5f5
}

/* SHOP CAMERA SECTION */
.shop_cameras{
    width: 100%;
}

.sticky-header{
    position: sticky;
    top: 75px;
    z-index: 1;
    background-color: #222222;
    padding: 1rem 0rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;

}

.stick{
    position: sticky;
    top: 0px;
    z-index: 1
}

.shop_cameras h2, .shop_lenses h2, .shop_drones h2{
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    padding: 2rem 0;
}

.shop-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: calc(250px * 5 + 20px * 15);
    margin: 0 auto;
    width: 100%;
    padding: 4rem 0rem;

}


/* SHOP lENSES SECTION */

.shop_lenses{
    width: 100%;
    padding: 5rem 0;
}