.sign-in{
    width: 200px;
    margin-top: 2rem;
    background-color: red;
}

.sign-in button{
    padding: .8rem 3rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: background-color.3s ease-in-out, color.3s ease-in-out;
    width: 100%;
}

.sign-in button:hover{
    background-color: #e5e5e5;
    color: #000000;
}

